@model CarFlex.Models.Rental

@{
    ViewData["Title"] = "Edit Rental";
}

<h1>@ViewData["Title"]</h1>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RentalId" />
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select asp-for="CarId" class="form-control" asp-items="ViewBag.CarId"></select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalDate" class="control-label"></label>
                <input asp-for="RentalDate" class="form-control" type="datetime-local" id="rentalDate" />
                <span asp-validation-for="RentalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" type="datetime-local" id="returnDate" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('rentalDate').addEventListener('input', function (e) {
            var value = e.target.value;
            var dateTime = new Date(value);
            if (dateTime.getMinutes() !== 0 || dateTime.getSeconds() !== 0) {
                dateTime.setMinutes(0, 0, 0); // set minutes, seconds, and milliseconds to 0
                e.target.value = dateTime.toISOString().slice(0, 16); // format back to datetime-local value
            }
        });

        document.getElementById('returnDate').addEventListener('input', function (e) {
            var value = e.target.value;
            var dateTime = new Date(value);
            if (dateTime.getMinutes() !== 0 || dateTime.getSeconds() !== 0) {
                dateTime.setMinutes(0, 0, 0); // set minutes, seconds, and milliseconds to 0
                e.target.value = dateTime.toISOString().slice(0, 16); // format back to datetime-local value
            }
        });
    </script>
}
